@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
     font-family: "Montserrat", sans-serif;
}
header{
    height: 95vh;
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),  url('../img/header-image.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.navbar{
    border: 2px solid white;
}

.header .logo,
.header .navbar a{
    color: white;
}

.header .navbar .navbar-item{
    display: inline-block;
}

.header .navbar .logo{
    float: left;
}

.header .navbar-items{
    float: right;
}

.navbar{
    content: '';
    display: block;
    clear: both;
}