@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}


body{
     font-family: "Montserrat", sans-serif;
     line-height: 1.7;
}

ul li{
    list-style: none;
}

a{
    font-size: 1.6rem;
    text-decoration: none;
}

p, li{
    font-size: 1.6rem;
    margin-bottom: 0.5em;
    letter-spacing: 0.15em;
}

h1, h2, h3{
    margin-bottom: 0.5em;
    letter-spacing: 0.15em;
    font-weight: 500;
}



header{
    height: 95vh;
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),  url('../img/header-image.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

.navbar{
    /* border: 2px solid white; */
    padding: 1rem;
}

 .logo,
 .navbar a{
    color: white;
}

.navbar .navbar-item{
    display: inline-block;
    padding: 1rem;
    text-transform: uppercase;
}

.navbar .logo{
    float: left;
    font-size: 3.5rem;
}

.navbar-items{
    float: right;
    margin-top: 1rem;
}

.navbar a{
    padding-bottom: 0.3rem;
}

.navbar a:hover{
    border-bottom: 1px solid #fff;
}

.navbar::after{
    content: '';
    display: block;
    clear: both;
}

/*#########Utility Classes##########*/

.text-light{
    color: whitesmoke;
}

.text-black{
    color: #333;
}

.text-red{
    color: red;
}

.text-grey{
    color: rgb(87, 85, 85);
}

.container{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.btn{
    display: inline-block;
    padding: 0.5em 1.5em;
    margin: 0.5em 0;
    font-weight: 500;
    text-transform: uppercase;
}

.btn-primary{
    background-color: #fff;
    border-radius: 10em;
}

.btn-primary:hover{
    background-color: #ddd;
}
.btn-secondary{
    border: 1px solid #e63946;
    border-radius: 2.5em;
    color: #e63946;
    background-color: #fff;
}

.btn-secondary:hover{
     background-color: #ddd;
}

/*#########Utility Classes##########*/


/* ############### Header Content Styling ############## */

.header-content h2{
    font-size: 2.6rem;
    text-transform: uppercase;
    font-weight: 700;
}

.header-content p{
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.header-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.2));
}

/* ################ Section Styling ############ */

.showcase{
    background-color: #ddd;
    padding: 10rem 0;   
}

.row{
    height: 350px;
    box-shadow: 0px 0px 20px 0px#0000003b;
    
}

.row1{
    margin-bottom: 10rem;
}

.row1 .image-box, .row2 .text-box{
    float: left;
    width: 50%;
}

.row2 .image-box, .row1 .text-box{
    float: right;
    width: 50%;
}

.row .image-box{
    height: 100%;
}

.row .text-box{
    padding: 3rem;
    background-color: #fff;
}

.row .image-box img{
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.row .btn{
    border: 1px solid red;
    border-radius: 10rem;
    margin-top: 3rem;
}

.row h2{
    font-weight: 500;
    font-size: 3rem;
}


/* ############## Features Styling ############## */

.box-wrapper h2{
    font-weight: 500;
    font-size: 2rem;
}

.features{
    padding: 10rem 0;
    /* font-size: 1.5rem; */
}
.box-wrapper{
 box-shadow: 5px 5px 20px 0px #00000056;
}
.box{
    width: 33.3333333%;
    padding: 2rem;
    float: left;
    text-align: center;
}

.box-wrapper::after{
    content: "";
    display: block;
    clear: both;
}

.box-1, .box-3{
    background-color: #263238;
    color: #fff;
}
.box-2{
    background: linear-gradient(25deg,#d64c7f,#ee4758 50%);
    color: #fff;
}

/* ################# Footer Styling ################### */

.foot{
    border: 2px solid red;
    background-color: #263238;
    color: #f4f4f4;
    padding: 2em;
    text-align: center;

}
.icons p{
    margin-top: 0.4em;
}


/* ############## About Page Nav Styling ############## */

.bg-dark{
    background-color: #263238;
    color: #fff;
}

.lg-heading{
    font-size: 3rem;
}

.about{
    padding: 5rem 0;
}
.about-heading{
    border-bottom: 5px solid #e63946;
}

.aboutbox1, .aboutbox2{
    float: left;
    padding: 3em;
    margin: 2em 10em;
    align-items: center;
    
}
.aboutbox1::after{
    content: "";
    display: block;
    clear: both;
}

.about .container .aboutbox1 ul li{
    list-style: none;
    padding-left: 0; 
}

.about .container .aboutbox1 ul li::before{
    content: '✓'; 
  margin-right: 5px; 
  color: #e63946
}

.about .container .aboutbox2 ul li{
    list-style: none;
    padding-left: 0; 
}

.about .container .aboutbox2 ul li::before{
    content: '✓'; 
  margin-right: 5px; 
  color: #e63946
}

.count-items{
    display: inline-block;
    padding: 1.5rem 4rem;
    margin: 1.5rem 6rem; 
    text-align: center;
    align-items: center;
    
}
.count-items h2{
    color: #e63946;
    font-size: 2.5rem;
    font-weight: 800;
    text-transform: uppercase;
}

.count-items p{
    text-transform: uppercase;
    font-weight: 500;
    color: #263238;
}

.cta-banner{
    margin-top: 3rem;
     background: linear-gradient(25deg,#d64c7f,#ee4758 50%);
     color: #f4f4f4;
     padding: 1rem;
     box-shadow:5px 5px 10px #00000048;
}

.cta-banner-left{
    width: 60%;
    float: left;
}
.cta-banner::after{
    content: "";
    display: block;
    clear: both;
}
.cta-banner-right{
    float: right;
    width: 40%;
    text-align: right;
}
.cta-line{
    font-weight: 700;
    font-size: 2rem;
    margin-top: 1.5rem;
}
.btn-cta{
    text-align: center;
    display: inline-block;
    font-weight: 700;
    font-size: 3rem;
    text-transform: uppercase;
    border: 4px solid white;
    padding: 0.3em 2.5em;
    letter-spacing: 0.5rem;
    color: #fff;
    border-radius: 50px ;
}

/* ###################### Contact Page Styling ################ */

.contact-form{
    padding: 5rem 0;   
    background: #f7f7f7; 
}


.form-wrapper::after{
    content: "";
    display: block;
    clear: both;
}

.form-wrapper .company-address{
    background: #fff;
    height: 760px;
    width: 49%;
    float: left;
    padding: 1rem;
}

.form-wrapper .address-group{
    margin-bottom: 3rem;
}

.container .company-address .address-group h2{
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 500;
}

.form-wrapper .company-address img{
    max-width: 95%;
    min-height: 40rem;
    object-fit: cover;
    object-position: right ;
}




/* ########################### Form Styling ##################### */

.form-wrapper .form{
    font-size: 1.6rem;
    height: 760px;
    background: #fff;
    width: 49%;
    float: right;
    padding: 1rem;
}

.form-wrapper .form h1::after{
    content:"";
    display: block;
    width: 100%;
    border-bottom:3px solid #ee4758;
}

.form-wrapper label{
    display: block;
}

.form-wrapper input{
    padding: 0.5rem;
    width: 100%;
}

.form-wrapper .form-group{
    margin-bottom: 1.2rem;
}

.form-wrapper .form textarea{
    width: 100%;
    height: 300px;
    padding: 1rem;
}

.address-group h2{
    color: #ee4758;
    font-weight: 700;
}

.form-wrapper .form-btn{
    display: block;
    margin: 0 auto;
    padding: 0.5em 3em;
    font-size: 1.8rem;
    text-transform: uppercase;
    background: #e63946;
    color: #ddd;
    outline: none;
    border: none;
    cursor: pointer;
}