@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}


body{
     font-family: "Montserrat", sans-serif;
     line-height: 1.7;
}

ul li{
    list-style: none;
}

a{
    font-size: 1.6rem;
    text-decoration: none;
}

p, li{
    font-size: 1.6rem;
    margin-bottom: 0.5em;
    letter-spacing: 0.15em;
}

h1, h2, h3{
    margin-bottom: 0.5em;
    letter-spacing: 0.15em;
    font-weight: 500;
}



header{
    height: 95vh;
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),  url('../img/header-image.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.navbar{
    /* border: 2px solid white; */
    padding: 1rem;
}

.header .logo,
.header .navbar a{
    color: white;
}

.header .navbar .navbar-item{
    display: inline-block;
    padding: 1rem;
    text-transform: uppercase;
}

.header .navbar .logo{
    float: left;
    font-size: 3.5rem;
}

.header .navbar-items{
    float: right;
    margin-top: 1rem;
}

.navbar a{
    padding-bottom: 0.3rem;
}

.navbar a:hover{
    border-bottom: 1px solid #fff;
}

.navbar::after{
    content: '';
    display: block;
    clear: both;
}

/*#########Utility Classes##########*/

.text-light{
    color: whitesmoke;
}

.text-black{
    color: #333;
}

.text-red{
    color: red;
}

.text-grey{
    color: grey;
}

.container{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

/*#########Utility Classes##########*/